<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Voter Registration</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/dig_app_styles.css' %}">
	<script src="{% static 'js/notify.js' %}"></script>
	<script src="{% static 'js/voter_registration.js' %}"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script>
		$(document).ready(function(){
		  $("#submitBtn").click(function(){
		    $('.toast').toast('show');
		  });
		});
</script>


<style>
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
</style>

<script>
	function myFunction() {
	  var x = document.getElementById("snackbar");
	  x.className = "show";
	  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 6000);
	}
</script>

	<script type="text/javascript">
		var renderedPasswordErrorText = 0;
		var correctedPassword = 0;
		var correctedOnce = 0;
		var renderedContactErrorText = 0;
		var correctedContact = 0;
		var correctedOnceContact = 0;
		// function launch_toast() {
		//     var x = document.getElementById("toast")
		//     x.className = "show";
		//     setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
		// }

		// function generate_notification() {
		// 	$.notify("Successfully registered", "success");
		// }

		function verifyPasswordMatch() {
			var password = document.getElementById("id_password");
			var confirm_password = document.getElementById("id_confirm_password");
			var error_statement = document.createElement("tr");
			var error_statement_child = document.createElement("td");
			error_statement_child.setAttribute("colspan", 2);
			error_statement.setAttribute("id", "password_error_text");
			error_statement.setAttribute("style", "width: 100%; font-size: 10px; display: inline; color: red; float: right;");
			if(password.value == confirm_password.value) {
				correctedOnce = 1;
				correctedPassword = 1;
				if (correctedPassword == 1) {
					$("#id_confirm_password").tooltip('dispose');
					var error_state = document.getElementById("password_error_text");
					if(error_state != null) {
						error_state.parentElement.removeChild(error_state);
					}
				}
				password.style.border = "solid 4px green";
				confirm_password.style.border = "solid 4px green";
			}
			else {
				$("#id_confirm_password").tooltip({title: "PLEASE ENSURE THAT THE PASSWORD AND CONFIRMED PASSWORD FIELDS MATCH", delay: {show: 0, hide: 10000000}, trigger: "focus"});
				var error_text = document.createTextNode("Password and Confirmed Password don't match");
				error_statement_child.appendChild(error_text);
				error_statement.appendChild(error_statement_child);
				if (renderedPasswordErrorText == 0 || correctedOnce == 1) {
					confirm_password.parentElement.parentElement.parentElement.insertBefore(error_statement, confirm_password.parentElement.parentElement);
					renderedPasswordErrorText = 1;
				}
				if (correctedPassword == 1) {
					var error_state = document.getElementById("password_error_text");
					if (error_state) {
						error_state.parentElement.removeChild(error_state);
					}
				}
				password.style.border = "solid 4px red";
				confirm_password.style.border = "solid 4px red";
			}
		}

		function verifyContactMatchV2() {
			var contact_num_tag = document.getElementById("id_contact_num");
			var error_statement = document.createElement("tr");
			var error_statement_child = document.createElement("td");
			error_statement_child.setAttribute("colspan", 2);
			error_statement.setAttribute("id", "contact_error_text");
			error_statement.setAttribute("style", "width: 100%; font-size: 10px; display: inline; color: red; float: right;");
			if(/^[1-9]{1}[0-9]{9}$/.test(contact_num_tag.value)) {
				correctedOnceContact = 1;
				correctedContact = 1;
				if (correctedContact == 1) {
					$("#id_contact_num").tooltip('dispose');
					var error_state = document.getElementById("contact_error_text");
					if(error_state != null) {
						error_state.parentElement.removeChild(error_state);
					}
				}
				contact_num_tag.style.border = "solid 4px green";
			}
			else {
				$("#id_contact_num").tooltip({title: "PLEASE ENSURE THAT THE CONTACT NUMBER IS OF 10 DIGITS", delay: {show: 0, hide: 10000000}, trigger: "focus"});
				var error_text = document.createTextNode("Contact Number should be of 10 digits");
				error_statement_child.appendChild(error_text);
				error_statement.appendChild(error_statement_child);
				if (renderedContactErrorText == 0 || correctedOnceContact == 1) {
					contact_num_tag.parentElement.parentElement.parentElement.insertBefore(error_statement, contact_num_tag.parentElement.parentElement);
					renderedContactErrorText = 1;
				}
				if (correctedContact == 1) {
					var error_state = document.getElementById("contact_error_text");
					if (error_state) {
						error_state.parentElement.removeChild(error_state);
					}
				}
				contact_num_tag.style.border = "solid 4px red";
			}
		}
</script>
<script>
	$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
	$(document).ready(function() {
		$('#id_contact_num').val({{contactnum}});
		$('#id_contact_num').attr('readonly', 'readonly');
	});
</script>
<link type="text/css" href="/media/jquery/css/smoothness/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
<script type="text/javascript" src="/media/jquery/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/media/jquery/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript" src="/media/jquery/development-bundle/ui/i18n/jquery.ui.datepicker-{{request.LANGUAGE_CODE}}.js"></script>
</head>
<body>
	<div class="container-fluid" style="background: midnightblue; background-image: linear-gradient(to right, midnightblue , slateblue); height: 210px; padding-top: 20px;">
		<h1 style="font-family: 'Poppins'; color: #FFFFFF; position: relative; top: 30px; vertical-align: middle;" align="center">VOTER REGISTRATION PORTAL</h1>
		<div class="text-center">
			<button style="position: relative; top: 50px;" type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#modalLoginForm">
				Guidelines for filling up this form
			</button>
		</div>
	</div>
	<div class="container-fluid" style="background: slateblue; height: 45px;">
		<marquee style="color: yellow; position: relative; top: 10px;">Registration for Lok Sabha Elections 2019 have started. Please register yourself and your family members by or before 5th March, 2019 for the same. Thank you!</marquee>
	</div>
	<div class="container-fluid" class="form-body-div">
		<form method="post" enctype="multipart/form-data" action="{% url 'register_voter_action' %}" class = "form-horizontal">
			{% csrf_token %}
			<table align="center">
				{{form.as_table}}
			</table>
			<br><br><br>
			<table align="center">
				<tr><th>
			<input id="submitBtn" type="submit" name="submit" value="Submit" class="btn-success" onclick="myFunction()" />
			</tr>
			</table>
		</form>
	</div>

<!-- THE GUIDELINES MODAL -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold" style="color: midnightblue">Guidelines</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5" style="font-family: 'Poppins'; font-size: 15px;">
          <i style="color: green;" class="fas fa-check-circle"></i>
          <p style="display: inline;">The email ID should be a valid one, we will verify it using OTP.</p><br><br>
          <i style="color: green;" class="fas fa-check-circle"></i>
          <p style="display: inline;">The contact number should be of ten digits exactly, no need to enter country code (+91).</p><br><br>
          <i style="color: green;" class="fas fa-check-circle"></i>
          <p style="display: inline;">Please ensure that you enter correct constituency.</p><br><br>
          <i style="color: green;" class="fas fa-check-circle"></i>
          <p style="display: inline;">Please ensure that the photograph that you upload should cover at least 50% of your face. If that requirement is not met you might not be eligible to vote.</p><br><br>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TOAST -->
<div id="snackbar"><i style="color: green; display: inline;" class="fas fa-check-circle"></i> You have been successfully registered. Please Login to continue </div>
</body>
</html>